# Django
DEBUG=True
SECRET_KEY=django-insecure-tle4x+o1&ex*snoj$g6pqijch+65pfr+oloxv3^877vfi%ga!)

# Development mode / dev/prod
DJANGO_ENV=dev

# Db
DB_NAME=db_name
DB_USER=db_user
DB_PASSWORD=db_password
DB_HOST=localhost
DB_PORT=db_port

# Telegram bot
TELEGRAM_BOT_TOKEN=token
TELEGRAM_CHAT_ID=chat_id